
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task{

    width: 600px;
    height: 50px;
    background-color: rgb(226, 226, 226);
    margin-top: 50px;
    margin-left: 50px;
}

.task .noqte{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    margin-left: 150px ;
}


.task1{
    margin-left: 50px;
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
}

.task1 i{
    font-size: 25px;
    width: 100px;
    height: 100px;
    background-color: rgb(173, 67, 28);
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}

.task1 .icons{
    margin-top: 100px;
    margin-left: 257px;
    padding-top: 38px;
    width: 100px;
    height: 100px;
    color: white;
}

.task1 .text h6{
    font-size: 30px;
    width: 200px;
    margin-left: 223px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Lora', serif;
}

.text2 p{
    width: 300px;
    height: 100px;
    margin-top: 60px;
    margin-left: 173px ;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}